@font-face {
  font-family: "JetBrains Mono";
  src: url("https://cdn.jsdelivr.net/fontsource/fonts/jetbrains-mono@latest/latin-400-normal.woff2")
    format("woff2");
}

body,
* {
  font-family: "JetBrains Mono", monospace !important;
}
